.btn {
	cursor: pointer;
	display: block;
	color: white;//@todo change color
	width: 100%;
	margin: rem(10px);
	padding: rem(16px);
	text-align: center;
	vertical-align: middle;
	font-size: rem(16px);
	line-height: 1;
	border-radius: rem(8px);


	&--primary {
		background-color: red; //@ToDO change color
		border: 1px solid red; //@todo change color
		width: auto;

		&:focus,
		&:hover {
			color: white; //@todo change color
			text-decoration: none;
			background-color: #8fd19e; //@todo change color
			border: 1px solid #8fd19f; //@todo change color
		}


	}


	&--secondary {
		background-color: #8fd19e; //@todo change color
		width: auto;


		&:hover {
			text-decoration: none;
			color: white; //@todo change color
			background-color: green; //@todo change color
		}

	}

	&--ghost {
		width: auto;
		background-color: grey; //@todo change color
		color: darkgrey; //@todo change color

		&:hover {
			text-decoration: none;
			background-color: #2C2E3F; //@todo change color
			color: white; //@todo change color
		}
	}

	&--large {
		font-size: rem(20px);
		min-width: rem(96px);
	}
/*font awesome icons???*/
	&--arrow {
	/*	@extend %fa-icon;
		@extend .fas;*/
		color: #cccccc; //@todo change color
		background-color: #2C2E3F;


		&:before {
			/*content: $fa-var-arrow-right;*/
		}
	}


}


/*
.RedBtn:hover,
.RedBtn:focus {
	cursor: pointer;
	background-color: #a92016;
	border: 1px solid #000000;
}

.GreenBtn {
	width: 100%;
	margin-top: 3%;
	color: #ffffff;
	background-color: #84bd00;
	border-radius: 5%;
}

.GreenBtn:hover {
	cursor: pointer;
	background-color: #3e5a00;
}

.GhostBtn {
	color: #cccccc;
	background-color: #cfcfcf;
	border-radius: 5%;
}

.GhostBtn:hover {
	cursor: pointer;
	background-color: #696969;
	color: #ededed;
}

*/



