@import "../Libs/FontAwesome/FA-scss/fontawesome";
@import "../Libs/FontAwesome/FA-scss/solid";
@import "../Variables/Color";


.btn {
	cursor: pointer;
	display: block;
	color: $white;
	font-size: rem(20px);
	width: 100%;
	margin: rem(10px);
	padding: rem(16px);
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	border-radius: rem(8px);


	&--primary {
		background-color: $color-shelter-button-red;
		border: 1px solid $color-shelter-button-red;
		width: fit-content;

		&:focus,
		&:hover {
			color: $white;
			text-decoration: none;
			background-color: $color-shelter-button-red-hover;
			border: 1px solid $color-shelter-button-red-hover;
		}


	}


	&--secondary {
		background-color: $color-shelter-green-light;
		width: fit-content;


		&:hover {
			text-decoration: none;
			color: $white;
			background-color: $color-shelter-green-dark;
		}

	}

	&--ghost {
		width: fit-content;
		background-color: $color-shelter-ghost-button;
		color: $color-shelter-ghost-text;

		&:hover {
			text-decoration: none;
			background-color: $color-shelter-ghost-button-hover;
			color: $color-shelter-ghost-text-hover;
		}
	}

	&--large {
		width: 100%;
	}

	//@todo how to embed font awesome icons???*/
	&--arrow {
		@extend %fa-icon;
		@extend .fas;
		width: fit-content;
		color: $color-shelter-green-dark;
		background-color: transparent;
		font-weight: 700;
		font-size: rem(21px);
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 8% 75%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 500ms;


		&::after {
			margin: rem(10px);
			content: fa-content($fa-var-arrow-right);
		}

		&:hover {
			color: $color-shelter-green-dark;
			text-decoration: none;
			background-image: linear-gradient(currentColor, currentColor);
			background-position: 8% 75%;
			background-repeat: no-repeat;
			background-size: 100% 2px;
			transition: background-size 500ms;
		}
	}


}