h1 {
	@extend .display-h1;
	color: green; //@todo change color
	font-family: 'Kulim Park', sans-serif; //@todo: change fonts
	font-size: rem(26px);
	font-weight: inherit;
	line-height: 1.2;
	position: relative;
	text-align: center;
}

h2 {
	color: #3e5a00; //@todo change color
	font-family: 'Kulim Park', sans-serif; //@todo: change fonts
	font-size: rem(32px);
	font-weight: 600;
	line-height: 1.2;
	position: relative;
	text-align: center;
}

h3 {
	color: green; //@todo change color
	font-family: 'Kulim Park', sans-serif; //@todo: change fonts
	font-size: rem(28px);
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
}

.display-h1 {
	font-size: rem(50px);
	font-weight: 400;
	line-height: 1.2;
}

/* //Variation der h1 Headline
.display-h2 {
	font-size: rem(40px);
	font-weight: 700;
}*/

