h1 {
	color: green;

	font-size: rem(26px);
	font-weight: inherit;
	position: relative;
	text-align: center;
}

h2 {
	color: #3e5a00;
	font-family: "Kulim Park";
	font-size: rem(26px);
	font-weight: inherit;
	position: relative;
	text-align: center;
}