.content-element__image {
	picture,
	img {
		max-width: 100%;
		height: auto;
	}

	.small {
		height: 500px;
	}

	.picture-container {
		text-align: center;
	}

	&--headline {
		margin-bottom: rem(40px);
	}
}
