@import "../Variables/Color";

html,
body {
	font-family: $font-family-base;
	font-size: 16px;
}

.shelter__heading {
	color: $color-shelter-green-dark;
}


.header-link {
	color: $white;
	text-decoration: none;
	background-image: linear-gradient($white, $white);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 500ms;

	&:hover {
		text-decoration: none;
		color: $white;
		background-size: 100% 2px;
	}

}

p,
li {
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	color: $color-shelter-green-dark;
	@media (min-width: map_get($grid-breakpoints, "md")) {
		margin-bottom: rem(15px);
	}

	a {
		color: goldenrod;
		font-weight: bold;
		text-decoration: none;
		background-image: linear-gradient($color-shelter-green-dark, $color-shelter-green-dark);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size 500ms;

		&:hover {
			text-decoration: none;
			color: green;
			background-size: 100% 2px;
		}
	}
}

.paragraph_introtext {
	color: $black;
	font-size: rem(19px);
	@media (min-width: map_get($grid-breakpoints, "md")) {
		font-size: rem(25px);
		margin-bottom: rem(15px);
	}
}

