$white: #ffffff;
$black: #000000;

/* Primary */
$color-ikkbb-red: #947a03;
$color-ikkbb-blue: #009ee0;
$color-ikkbb-blue-dark: #006eb7;

/* Secondary */
$color-headline: #1D1D1B;
$color-text: #1D1D1B;
$color-teaser-background: #F6F6F6;
$color-divider: #E8E8E8;
$color-navigation: #5F5F5F;
$color-youtube-embed-shadow: #EFFAFF;
$color-close-icon: #ACACAC;

/* helper variables */
$color-footer-content: $color-navigation;
