$white: #ffffff;
$black: #000000;

/* Primary */
$color-shelter-green-light: #84bd00;
$color-shelter-green-dark: #024731;
$color-shelter-button-red: #d5291c;

/* Secondary */
$color-shelter-Navigation: rgba(0,0,0, 0.5);
$color-shelter-ghost-text: #a5a4a4;
$color-shelter-ghost-button: #cccccc;
$color-shelter-ghost-button-hover: #696969;
$color-shelter-ghost-text-hover: #ededed;
$color-shelter-button-red-hover: #a92016;
$color-text: #024731;
$color-shelter-link-yellow: #ffcd00;

/* helper variables */

