@import "../../../../../../../compressor/node_modules/bootstrap/scss/functions";
@import "../../../../../../../compressor/node_modules/bootstrap/scss/variables";
@import "../../../../../../../compressor/node_modules/bootstrap/scss/mixins";

$gallery: #f0f0f0;
$alto: #e0e0e0;
$dove-gray: #666666;
$alabaster: #f8f8f8;
$prototype-font-family: $font-family-base;
$primary: #006eb7;
$gray: #cccccc;

html.prototype {
	height: 100%;

	body {
		$block: &;
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: $prototype-font-family;
		font-size: 16px;
		line-height: 1.375;
		letter-spacing: 0;
		font-style: normal;
		font-weight: 400;
		color: $dove-gray;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background: white;

		* {
			box-sizing: border-box;
		}

		.prototype__burger {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 47px;

			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 8px);
				left: calc(50% - 3px);
				width: 0;
				height: 0;
				padding: 5px;
				border-style: solid;
				border-width: 0 4px 4px 0;
				border-color: $primary;
				transform: rotate(135deg);
			}

			&--fixed {
				position: fixed;
				top: 0;
				left: 0;
				right: auto;
				width: 30px;
				height: 30px;
				background-color: $primary;

				@media (min-width: 768px) {
					width: 40px;
					height: 40px;
				}

				&::before {
					transform: rotate(-45deg);
					top: calc(50% - 8px);
					left: calc(50% - 9px);
					border-color: white;
				}
			}
		}

		&.is--navigation-open {
			.prototype__offcanvas {
				transform: translateX(-20px);
			}

			.prototype__contentiframe {
				@media (min-width: 620px) {
					margin-left: 300px;
					width: calc(100% - 300px);
				}
			}
		}

		.prototype__offcanvas {
			position: fixed;
			top: 0;
			left: 0;
			width: 320px;
			max-width: 100%;
			height: 100vh;
			padding-left: 20px;
			overflow: auto;
			background-color: white;
			border-right: 1px solid $alto;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			box-shadow: 0 2px 2px $alto;
			transition-property: transform;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
			transform: translateX(-320px);

			&__top {
				padding-right: 50px;
				border-bottom: 5px solid $alto;
			}

			h1 {
				margin: 0 0 0 0;
				padding: 10px;
				font-size: 22px;
				line-height: 30px;
				font-weight: 400;
				color: $dove-gray;

				b,
				strong {
					font-weight: 700;
					color: $primary;
				}
			}
		}

		.prototype__navigation {
			margin: 0;
			padding: 10px 0 30px 0;
			overflow: auto;

			span {
				cursor: pointer;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin: 0;
					padding: 0;

					a,
					span {
						&,
						&:link,
						&:active,
						&:visited {
							display: block;
							margin: 0;
							padding: 8px 15px 7px 0;
							font-size: 16px;
							font-weight: 400;
							color: $dove-gray;
							text-decoration: none;
							border-left: 5px solid transparent;
						}

						&:hover {
							background-color: $gallery;
							color: black;
							text-decoration: none;
						}

						&.has--subtree {
							display: flex;
							flex-flow: row nowrap;
							justify-content: space-between;
							align-items: center;

							&::after {
								content: "";
								width: 0;
								height: 0;
								padding: 3px;
								border-style: solid;
								border-width: 0 1px 1px 0;
								border-color: $dove-gray;
								transition-property: transform;
								transition-duration: 0.2s;
								transition-timing-function: ease-in;
								transform: rotate(45deg);
							}
						}
					}

					a {
						&.is--active,
						&:active,
						&:focus {
							border-color: $primary;
						}
					}

					&.is--open {
						> .has--subtree {
							&::after {
								transform: rotate(225deg);
							}
						}

						> ul {
							max-height: 150vh;
						}
					}
				}

				ul {
					height: auto;
					max-height: 0;
					overflow: hidden;
					transition-property: max-height;
					transition-duration: 0.5s;
					transition-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
				}

				> li {
					> a,
					> span {
						&,
						&:link,
						&:active,
						&:visited {
							padding-left: 10px;
							font-weight: 700;
						}
					}

					> ul > li {
						> a,
						> span {
							&,
							&:link,
							&:active,
							&:visited {
								padding-left: 20px;
								font-size: 14px;
								font-weight: 400;
							}
						}

						> ul > li {
							> a,
							> span {
								&,
								&:link,
								&:active,
								&:visited {
									padding-left: 30px;
									font-size: 13px;
									font-weight: 400;
								}
							}
						}
					}
				}
			}
		}

		.prototype__contentiframe {
			width: 100%;
			height: 100%;
			border: 0;
			transition-property: margin, width;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.5, 0, 0, 1.25);
		}

		.prototype__headline {
			margin: 0 0 30px !important;
			padding: 30px 3% 15px 3% !important;
			display: block !important;
			font-family: $prototype-font-family !important;
			font-size: 50px !important;
			font-weight: 300 !important;
			line-height: 1.3 !important;
			color: $dove-gray !important;
			background-color: $alabaster !important;
			border-bottom: 3px solid $primary;

			@media (min-width: 768px) {
				margin-bottom: 60px !important;
				padding: 60px 12% 30px 12% !important;
			}

			&::after {
				display: none;
			}
		}

		.prototype__subline {
			margin: 0 0 10px 0 !important;
			padding: 0 3% !important;
			display: block !important;
			font-family: $prototype-font-family !important;
			font-size: 24px !important;
			font-weight: 700 !important;
			line-height: 1.3 !important;
			color: $primary !important;

			@media (min-width: 768px) {
				padding: 0 12% !important;
			}
		}

		.prototype__description {
			margin: 0 0 30px 0 !important;
			padding: 0 3% !important;
			display: block !important;
			font-family: $prototype-font-family !important;
			font-size: 20px !important;
			font-weight: 500 !important;
			line-height: 1.3 !important;
			color: $dove-gray !important;

			@media (min-width: 768px) {
				margin-bottom: 60px;
				padding: 0 12% !important;
			}
		}

		.prototype__text {
			margin: 0 0 10px 0 !important;
			padding: 0 3% !important;
			display: block !important;
			font-family: $prototype-font-family !important;
			font-size: 18px !important;
			font-weight: 400 !important;
			line-height: 1.3 !important;
			color: $dove-gray !important;

			@media (min-width: 768px) {
				padding: 0 12% !important;
			}
		}

		.prototype__block-headline {
			margin: 0 0 5px 0 !important;
			padding: 0 3% !important;
			display: block !important;
			font-family: $prototype-font-family !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			line-height: 1.3 !important;
			color: $dove-gray !important;

			@media (min-width: 768px) {
				padding: 0 12% !important;
			}
		}

		.prototype__branding {
			&__view {
				position: relative;
				display: block;
				margin: 30px 3%;
				padding: 10px 10px;
				border: 1px solid $alto;
				border-radius: 5px;

				@media (min-width: 768px) {
					display: inline-block;
					margin: 30px 12%;
					padding: 50px 100px;
				}

				&--center {
					text-align: center;
				}

				&--invert {
					background-color: $gray;
					border: none;
				}

				&--no-border {
					padding: 0;
					border: none;
					border-radius: unset;

					@media (min-width: 768px) {
						display: block;
						padding: 0;
					}
				}
			}

			&__sourcecode {
				position: relative;
				display: block;
				background-color: white;
				margin: 0 3% 30px 3%;
				font-size: 13px;
				border: 1px solid $alto;
				border-left: 5px solid $primary;
				max-width: 100%;

				@media (min-width: 768px) {
					margin: 0 12% 60px 12%;
				}

				pre {
					margin: 0;
					padding: 0;
					width: 100%;
					max-height: 230px;
					overflow: auto;
				}
			}
		}

		.prototype__component {
			&__view {
				position: relative;
				display: block;
				width: 100%;
				margin: 30px 0 30px 0;
				padding: 10px 0;
				background-image: url("/online-styleguide/assets/component-area.png");
				border-top: 1px solid $alto;
				border-bottom: 1px solid $alto;

				@media (min-width: 768px) {
					padding: 30px 0;
				}

				&--invert {
					background-color: $dove-gray;
				}
			}

			&__sourcecode {
				position: relative;
				display: block;
				background-color: white;
				margin: 0 3% 30px 3%;
				font-size: 13px;
				border: 1px solid $alto;
				border-left: 5px solid $primary;
				max-width: 100%;

				@media (min-width: 768px) {
					margin: 0 12% 60px 12%;
				}

				pre {
					margin: 0;
					padding: 0;
					width: 100%;
					max-height: 230px;
					overflow: auto;
				}
			}
		}

		.prototype__color-block {
			display: flex;
			flex-flow: wrap row;
			justify-content: flex-start;
			align-items: center;

			&__item {
				display: flex;
				flex-flow: nowrap column;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				margin: 0 6% 40px 0;
				width: 20%;
				min-height: 80px;
				text-align: center;

				p {
					margin: 0;
					padding: 0;
					color: white;
				}

				&--invert {
					border: 1px solid $dove-gray;

					p {
						color: $dove-gray;
					}
				}
			}
		}

		.prototype__icon-block {
			display: flex;
			flex-flow: wrap row;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 0 3%;

			@media (min-width: 768px) {
				margin: 0 12%;
			}

			&__item {
				display: flex;
				flex-flow: nowrap column;
				justify-content: center;
				align-items: flex-start;
				margin: 0 6% 40px 0;
				width: 20%;
				min-height: 80px;

				&:nth-child(4n+4) {
					margin-right: 0;
				}

				.prototype__subline,
				.prototype__block-headline,
				.prototype__branding__view,
				.prototype__component__sourcecode {
					margin-left: 0 !important;
					margin-right: 0 !important;
					padding-left: 0 !important;
					padding-right: 0 !important;
				}

				.prototype__branding__view {
					padding: 0 !important;
					display: flex;
					margin-top: 0 !important;
					flex-flow: nowrap row;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 8vw;
				}

				.prototype__component__sourcecode {
					margin: 0 0 30px 0;
				}
			}
		}

		.prototype__copy-icon {
			position: absolute;
			right: 20px;
			top: 20px;
		}
	}
}
