/*navbar*/
.navbar {
	background-color: rgba(0, 0, 0, .5);

}

.NavColor {
	background-color: rgba(0, 0, 0, .5);

}

.navbar-toggler {
	color: white;
}

.navbar__border--space {
	margin: 0 40px;

}

.NavSpacing {
	margin: 0 40px;

}

.navbar-brand {
	margin-left: 30px;
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.navbar-brand:active {
	color: white;
}

.navbar li {
	margin: 0 20px;
	padding: 0 20px;

}

/*mobile navbar*/
.navbar__mobile-navbar li a {
	font-size: 1rem;
}

.navbar__mobile-navbar li .back {
	font-size: 1.3rem;
}

.navbar__menu-btn {
	position: absolute;
	top: 12px;
}

/*close menu button*/
.navbar__close-btn {
	color: #fff;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.navbar__close-btn:hover {
	text-decoration: none;
	color: #84bd00;
}

.navbar__next-slide:hover {
	color: #ffffff;
}

.SearchIcon {
	color: #ffffff;
}

.NextNavSlide:hover {
	color: #84bd00;
}

#navbarSupportedContent1 {
	display: none;
	background-color: rgba(0, 0, 0, 0);
}


.navbar__mobile-navbar {
	width: 100%;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	height: 400px;
}

.Layers {
	display: none;
}

.border-bottom {
	display: block;
}