
/*.fullWidth {
	margin: 0;
	padding: 0;
}*/
/*
.row {
	margin-left: -15px;
	margin-right: -15px;
}*/

p, h {
	font-family: 'Kulim Park', sans-serif;
}

a {
	cursor: pointer;
}

input {
	margin-top: 10px;
}

label {
	font-size: 1rem;
}

.fillViewPortPlease{
	max-width: 100%;
	padding-left: 0;

}

.breadcrumb{
	background-color: transparent;
}