/*.fullWidth {
	margin: 0;
	padding: 0;
}*/
/*
.row {
	margin-left: -15px;
	margin-right: -15px;
}*/

p, h {
	font-family: 'Kulim Park', sans-serif;
}

a {
	cursor: pointer;
}

.col{
	margin: 0;
	padding: 0;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

p {
	font-family: 'Kulim Park', sans-serif;
}

h {
	font-family: 'Kulim Park', sans-serif;
}


input {
	margin-top: 10px;
}

label {
	font-size: 1rem;
}

.navbar__desktop-navbar {
	display: none;
}

.navbar--height {
	height: 8%;
}

.fillViewPortPlease {
	max-width: 100%;
	padding-left: 0;
}

.fa-chevron-down {
	padding: 0 10px;
}

.accordion__header {
	background-color: transparent;
}

.accordion__header:hover {
	color: #000000;

}

.breadcrumb {
	background-color: transparent;

}