@media (min-width: 992px) {
	.MenuBtn {
		display: none;
	}

	.DesktopNav {
		display: inline-block;
		color: #ffffff;
		font-size: 1.4rem;
		padding: 20px;

	}

	.DesktopNav li {
		padding: 0;
	}

	.DeskNavBar {
		background-color: transparent;
	}


}


@media (min-width: 1200px) {
	.DesktopNav {
		font-size: 1.4rem;
	}

	.navbar-brand {
		font-size: 1.4rem;
		line-height: 2.8;
	}

	.BrandLogo {
		width: 50px;
		height: 50px;
	}

}

.list-unstyled a {
	list-style: none;
	color: #ffffff;
	font-size: 1.4rem;
}

.mega-menu {
	background-color: rgba(0, 0, 0, .8);
	left: -350%;

}

.mega-menu .sub-title {
	font-size: 1.5rem;
	color: #ffffff;
}