

#searchbar, #donate1 {
	display: inline-block;
	font-size: 1.5em;
	border-radius: 0;
	-webkit-appearance: none;
}

#searchbar {
	border: 1px solid lightgray;
	margin: 10px;
	padding: 26px;

}

.searchBtn {
	background: transparent;
	color: white;
	font-size: 1.7em;
	cursor: pointer;
}

.searchBtn:hover {
	color: red;
}

.SearchOverlay {
	height: 20%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.SearchOverlay .navbar__close-btn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}

.SearchOverlay .navbar__close-btn:hover {
	color: #cccccc;
}

.SearchOverlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;

}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}


#donate1 {
	border: 1px solid transparent;
}

#donate1::-moz-focus-inner {
	border: 0;
}

/*header*/


.hero {
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
	linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
	url('../images/fox.jpg');
	background-size: cover;
	height: 500px;
	width: 100%;
	background-position: center;
	position: relative;
	margin-bottom: 0;
}

.hero-content {
	position: absolute;
	left: 5%;
	margin-top: 0;
	margin-bottom: 2.5rem;
	color: white;

}

.protect-animals__text {
	position: relative;
	height: 500px;
}

.bottom {
	position: absolute;
	bottom: 63px;
}

.right {
	position: absolute;
	right: 0;
}


.protect-animals__background {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px 30px 5px 10px;
	right: 0;
}

.protect-animals__background p {
	font-size: 15px;
	height: 20px;
}

.protect-animals__background span {
	color: #84bd00;
	font-size: 1.2rem;
	padding: 0 5px 0 10px;

}

#heading {
	color: #84bd00;
	font-size: 1rem;
	margin-bottom: 3px;
}


.link {
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}

.link:hover {
	color: white;
	text-decoration: none;

}

/*defender*/
.container__jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/doggo.jpg');
	background-size: cover;
	height: 500px;
	background-position: center;
	position: relative;
	margin-top: 80px;
}


.container__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.container__text p {
	font-size: 20px;
	margin-bottom: 60px;
}

.container__text button {
	padding: 10px 25px;
	background-color: #d5291c;
	color: white;
	font-size: 1.2rem;
}

.container__text button:hover {
	background-color: #a92016;
	border: 1px solid #555559;
}

/*hero image make a difference*/
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/happypuppy.jpg');
	background-size: cover;
	height: 600px;

}

.hero-text {
	color: white;
}

/*forms*/
#differenceform {
	width: 100%;
	color: white;
}

/*vertical alignment form*/

.hero-image__outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hero-image__middle {
	display: table-cell;
	vertical-align: middle;

}

.hero-image__inner {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


#signUp {
	margin-top: 10px;
}

/*
.form-check {
	margin-top: 30px;
	padding-right: 5px;
	font-size: 20px;
}

.form-check label {
	font-size: 1rem;
}

.form-inline .form-check-input {
	margin-right: 1rem;
}
*/


.formColor {
	color: white;
}

#gridCheck1 {
	height: 40px;
	width: 40px;
	margin: 10px;
}

input {
	background-color: white;
}

input:focus {
	border: 5px solid #84bd00;
}

/*green paragraphs*/
.container-fluid__text--color {
	background-color: #024731;
	padding: 60px;
	color: white;
	margin-top: 0;
	font-size: 2em;
	line-height: 1.2em;
}

@media screen and (max-width: 576px) {
	.top {
		position: absolute;
		top: 0;
	}


	.bottom {
		bottom: 0;
	}

	.protect-animals__text {
		height: 468px;
	}

	.hero-content {
		position: absolute;
		left: 67px;
	}

	.container__background {
		position: absolute;
		left: 0;
		right: 0;
	}

	.right {
		position: absolute;
		right: 0;
		left: 0;

	}


}


