
@media screen and (min-width: 0px) and (max-width: 992px) {
	.card {
		height: auto;
	}
}

@media screen and (min-width: 1000px) {
	.hero-content {
		font-size: 4rem;
	}
}



@media screen and (max-width: 398px) and (min-width: 200px) {
	.hero-text {
		transform: translate(-50%, -140%);
	}

	#differenceform {
		transform: translate(-45%, 80%);
	}

	.form-control-lg {
		width: 90%;
		margin-top: 10px;
	}

	.hero-image {
		height: 1000px;
	}

}

@media screen and (min-width: 398px) {
	.hero-text {
		transform: translate(-50%, -120%);
	}

	#differenecform {
		transform: translate(-45%, 70%);
	}

	.form-control-lg {
		width: 90%;
		margin-top: 10px;
	}

	.hero-image {
		height: 800px;
	}

	.card {
		height: auto;
	}

}

@media screen and (min-width: 590px) {
	.hero-text {
		transform: translate(-50%, -150%);
	}

	#differenceform {
		transform: translate(-45%, 70%);
	}

	.form-control-lg {
		width: 90%;
		margin-top: 10px;
	}

	.hero-image {
		height: 800px;
	}

}

@media screen and (min-width: 768px) {

	.hero-text {
		transform: translate(-50%, -180%);
	}

	#differenceform {
		transform: translate(-45%, 140%);
	}

	.form-control-lg {
		width: 300px;
		margin-top: 10px;
	}

	#gridCheck1 {
		width: 80px;
		height: 80px;
	}

	.form-inline .form-check-input {
		margin-right: 2rem;
	}
}

@media screen and (min-width: 860px) {
	#differenceform {
		transform: translate(-40%, 140%);
	}

	.form-control-lg {
		width: 300px;
		margin-top: 10px;
	}
}


@media screen and (min-width: 992px) {
	#differenceform {
		transform: translate(-45%, 230%);
	}

	.form-control-lg {
		width: 200px;
	}
}

@media screen and (min-width: 1000px) {
	#differenceform {
		transform: translate(-43%, 230%);
	}

	.form-control-lg {
		width: 200px;
	}
}


@media screen and (min-width: 1160px) {
	#differenceform {
		transform: translate(-38%, 230%);
	}

	.form-control-lg {
		width: 200px;
	}
}

@media screen and (min-width: 1217px) {
	#differenceform {
		transform: translate(-48%, 230%);
	}


}

@media only screen and (min-width: 1260px) {
	#differenceform {
		transform: translate(-45%, 230%);
	}
}

@media only screen and (min-width: 1380px) {
	#differenceform {
		transform: translate(-40%, 230%);
	}
}






