/*header*/
/*.long {
	margin: 0;
	padding: 0;
}*/


/*cards*/

.card-deck {
	margin: 30px auto;
}

.cardSize {
	font-size: 1.3em;
}

.card span {
	font-size: 16px;
	color: #ffcd00;
}

.card span:hover {
	color: #84bd00;
}


.card a:hover {
	color: #024731;
	text-decoration: none;
}

/*.card p {
	margin: 0;
}*/

.greentext {
	color: #024731;
}


.BottomLink {
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
}

.LinkMargin {
	padding-bottom: 50px;
}

.NoMargin {
	margin-bottom: 0;
}

.BottomLink2 {
	position: absolute;
	left: 0;
	width: 90%;
	bottom: 2%;
}

.underline {
	color: white;
	text-decoration: none;
	font-size: 1.3rem;
	position: relative;
	display: inline-block;
}

.underline:hover {
	color: white;
}

.underline::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: #84bd00;
	transition: 500ms;
}

.underline:hover::after {
	width: 100%;

}

.underline1 {
	color: white;

}

.underline1::after {
	height: 2px;
}

.underline1:hover {
	background-color: transparent;
}

.LinkUnderline {
	color: white;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 500ms;
}

.LinkUnderline:hover, .LinkUnderline:focus {
	text-decoration: none;
	color: white;
	background-size: 100% 2px;
}

.UnderlineGreen {
	color: #024731
}

