/*header*/
.long {
	margin: 0;
	padding: 0;
}


/*cards*/

.card-deck {
	margin: 30px auto;
}

.cardSize {
	font-size: 1.3em;
}

.card p {
	margin-bottom: 20px;
}

.card span {
	font-size: 16px;
	color: #ffcd00;
}

.card span:hover {
	color: #84bd00;
}

.card a {

	right: 0;
	left: 0;
	bottom: 20px;
}

.card a:hover {
	color: #024731;
}

.card p {
	margin: 0;
}

.greentext {
	color: #024731;
}

.container-fluid {
	width: 100%;
}
/*
.form-control-lg {
	width: 100%;
	padding: 10px;
}

.form-row {
	padding: 0 10px;
}*/